h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-align: center;
}

background-color {
    background-image: linear-gradient(to right top, #051937, #073052, #06496e, #026489, #0480a2);
}